In [1]:
import pandas as pd

In [4]:
raw_df=pd.read_csv('Resources/final_data.csv')
raw_df.head()

,Date,Week_Of_Year,Store,Product,Promotion,Is_Holiday,Base Price,Price,Weekly_Units_Sold
0,2010-02-05,5,1,1,1,False,9.99,7.99,245
1,2010-02-12,6,1,1,1,True,9.99,7.99,453
2,2010-02-19,7,1,1,1,False,9.99,7.99,409
3,2010-02-26,8,1,1,1,False,9.99,7.99,191
4,2010-03-05,9,1,1,0,False,9.99,9.99,145

In [2]:
pd.read_csv('Resources/final_data.csv').to_html('final_test_data.html', index=False)

In [7]:
encode_df=pd.read_csv("Resources/encoded_features.csv").drop(['Unnamed: 0'], axis=1)
encode_df.head()

,Base Price,Price,promotion,Is_Holiday,Store__1,Store__10,Store__2,Store__3,Store__4,Store__5,...,week_of_year__48,week_of_year__49,week_of_year__5,week_of_year__50,week_of_year__51,week_of_year__52,week_of_year__6,week_of_year__7,week_of_year__8,week_of_year__9
0,9.99,7.99,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,9.99,7.99,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,9.99,7.99,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,9.99,7.99,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,9.99,9.99,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [8]:
encode_df.to_html('feature_data.html', index=False)